<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="~/css/site.css" />
 </head>

<body>
    <div id="navigation-bar">
        <div class="top-nav">
            @*image*@
            <div class="navigation-buttons">
                <ul>
                    <li>Privacy</li>
                    <li>kassa</li>
                    <li>route</li>
                </ul>
            </div>
        </div>
    </div>

  @Renderbody

 <footer>
     <div class="footer">
         <h2> Volg ons op onze socials</h2>
         <p> Voor meer vragen kunt u ons bereiken op</p>
         <br>
         <br>
     </div>
 </footer>
</body>
</html>
