<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="~/css/site.css" />
 </head>
<body>
    <div id="navigation-bar">
        <div class="navigation">
            @*image*@
            <div class="navigation-buttons">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody
</body>
</html>
