<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="~/css/site.css" />
 </head>
<body>
    <div id="navigation-bar">
        <div class="navigation">
            @*image*@
            <div class="navigation-buttons">
                <ul>
                    <li>Privacy</li>
                    <li>kassa</li>
                    <li>route</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="Body">
        @RenderBody
    </div>
    
</body>
</html>
