@{
    ViewData["Title"] = "About Us";
}
<div class="aboutus">
    <h1>@ViewData["Title"]</h1>
    <h2>Hallo</h2>
    <p>Wij zijn Hugo en Tim van TiGO Festivals. Wij hebben de opdracht gekregen van de Heer Logtenberg om een website te maken voor ons festival terrein. Op deze website bieden wij dan ook de desbettreffende informatie die u nodig heeft over de festivals die op onze locatie te vinden zijn. </p>
    <img

</div>
