@{
    ViewData["Title"] = "About Us";
}
<div class="aboutus">
    <h1>@ViewData["Title"]</h1>
    <h2>Hallo</h2>
    <p> Wij zijn studenten die graag naar een festival gaan, maar wij hadden altijd een probleem bij het boeken van festivals. Het vergelijken van de festivals vonden wij altijd erg lastig en de prijzen waren ook soms gewoon niet te vinden op de websites van de festivals zelf. Daarom zijn wij van Tigo Music Festivals een site gaan ontwerpen waar dit wel makkelijk kan. U kunt bij ons heel gemakkelijk en veilig uw kaarten kopen voor de grootste festivals voor het komende jaar in Nederland. En het allerbelangrijkste, u kunt de festivals met elkaar vergelijken. Voor ons staat overzichtelijkheid op plaats nummer 1 en dat hebben wij geprobeerd te bereiken met deze site.<p/>

</div>
