@{
    ViewData["Title"] = "Contact";
}


<h1>@ViewData["Title"]</h1>
<form method="post">
    Voornaam:<input type="text" name="FirstName" />
    Achternaam:<input type="text" name="LastName" />
    <input type="submit" value="opslaan" />
</form>
