@using SendAndStore.Models
@model List<Festival>
@{
    ViewData["Title"] = "Tigo";
}
<h1>@ViewData["Title"]</h1>
<h1 class="display-4>Welcome, @ViewData["user"]</h1>

<div class="slideshow">
    <ul>
        @foreach (Festival p in Model)
        {
        <li>
            <a href="/festival/@p.Id">@p.Naam</a>
            <img src="@p.Logo" alt="logo" width="100" height="70">
        </li>
        }
    </ul>
</div>