@using SendAndStore.Models
@model List<Festival>
@{
    ViewData["Title"] = "Tigo";
}
<h1>@ViewData["Title"]</h1>
<h1 class="display-4>Welcome, @ViewData["user"]</h1>

<div class="slideshow-container">
    @foreach (Festival p in Model)
    {
        <a href="/festival/@p.Id">@p.Naam</a>
        <h2>@p.Naam </h2>
        <p></p>
    }
</div>