@model List<string>
@{
    ViewData["Title"] = "Tigo";
}
<h1>@ViewData["Title"]</h1>

<div class="slideshow-container">
    @foreach(string f in Model)
    {
        <h2>@f</h2>
        <p></p>
    }
</div>