@{
    ViewData["Title"] = "Locatie";
}

<h1>@ViewData["Title"]</h1>
<div class="locatie">
    <h1> Wij zijn te vinden op locatie de locatie: Beekse Bergen</h1>
    <br />
   
    <h2>Het adres: Beekse Bergen 5081, Hilvarenbeek</h2>
    <br />
    <a href="https://goo.gl/maps/HcqAoFECtuJrBv3x9">Of klik Hier!</a>
</div>


