@{
    ViewData["Title"] = "login";
}
<div class="login">
    <form method="post">


        <h1>@ViewData["Title"]</h1>
        <div>User: <input type="text" name="user" /></div>

        <div>Wachtwoord: <input type="text" name="password" /></div>
        <div><input type="submit" value="opslaan" /></div>
    </form>

</div>
